body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor{
  width: 100%;
}

.opciones{
  display: flex;
  justify-content: space-evenly;
}

.contenedor-upload {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.upload-area {
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.upload-area:hover {
  border-color: #335677;
}

.file-label {
  margin-top: 10px;
  color: #335677;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.file-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.file-icon {
  width: 25px;
  height: 25px;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
  font-size: 18px;
}

.btn-confirm {
  background-color: #335677;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-confirm:hover {
  background-color: #335677;
}

.btn-confirm:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.filter-group{
  display: flex;

}

.filter-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  color: #335677;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
.filter-btn.active {
  background-color: #f0f0f0;
  color: #335677;
  width: 120px;
}

.container{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subir-pdf{
  background-color: #335677;
  border-radius: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 120px;
}

.seleccionar{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

