
<body>
<app-sidebar></app-sidebar>
<div class="contenedor">
  <app-header></app-header>
  <div class="container">
    <div class="opciones">
      <div class="filter-group">
        <button class="filter-btn active">Convocatoria</button>
        <select [(ngModel)]="selectedCovocatoria" (change)="cargarConvocatorias()">
          <option value="">Seleccione una Convocatoria</option>
          <option *ngFor="let convocatoria of convocatorias">{{ convocatoria.nombre}}</option>
        </select>
      </div>
      <div class="filter-group">
        <button class="filter-btn active">Cargo</button>
        <select id="cargo-select" [(ngModel)]="selectedCargo" name="cargo" required>
          <option value="">Seleccione un Cargo</option>
          <option *ngFor="let cargo of cargos">{{ cargo.cargo }}</option>
        </select>
      </div>
    </div>

    <div class="contenedor-upload">
      <form class="seleccionar" (submit)="onSubmit()">
        <div class="upload-area">
          <label for="file-input" class="custom-file-label">
            <img src="assets/img/upload.svg" alt="Upload Icon" class="upload-icon" />
            <p>Selecciona tus archivos</p>
          </label>
          <input type="file" id="file-input" (change)="onFileSelected($event)" accept=".pdf" hidden />
        </div>

        <div *ngIf="selectedFile" class="file-preview">
          <img src="assets/img/pdf.svg" alt="PDF Icon" class="file-icon" />
          <p>{{ selectedFile.name }}</p>
          <img src="assets/img/borrar.svg" alt="Trash" class="file-icon" (click)="clearFile()" />
        </div>
        <div class="boton">
          <button class="subir-pdf" type="submit" [disabled]="isLoading || !selectedFile || !selectedCargo || !selectedCovocatoria">
            Subir PDF
          </button>
        </div>
      </form>

      <div *ngIf="isLoading">
        <p>Cargando archivo... Por favor, espera.</p>
      </div>

      <div *ngIf="errorMessage" class="error">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
</body>
