
<app-header></app-header>
<body>
<app-sidebar></app-sidebar>
<div class="contenedor-upload">
  <form class="seleccionar" (submit)="onSubmit()">
    <div class="upload-area">
      <img src="assets/img/upload.svg" alt="Upload Icon" />
      <input type="file" id="file-input" (change)="onFileSelected($event)" accept=".pdf"/>
      <label for="file-input" class="file-label">
      </label>
    </div>
    <button class="subir-pdf" type="submit" [disabled]="isLoading || !selectedFile">Subir PDF</button>
  </form>

  <div *ngIf="isLoading">
    <p>Cargando archivo... Por favor, espera.</p>
  </div>

  <div *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </div>

</div>
</body>
