header{
  background: #ffffff;
  width: 100%;
  border-bottom: 1px solid #8bbe2e;

}

.contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  gap: 10px;
}

header .logo img{
  height: 40px;
}

.logo h5{
  color: #8bbe2e;
  font-size: 14px;
}

.contenedor h4{
  font-size: 20px;
  color: #8bbe2e;
  justify-content: left;
  padding: 10px;
}

