<app-header></app-header>

<body>
<app-sidebar></app-sidebar>
<div class="buttons">
  <button class="boton" routerLink="/perfil">
    <img src="assets/img/perfil-ideal.png" alt="Perfil Ideal">
    Definir Perfil Ideal</button>
  <button class="boton" routerLink="/pdf">
    <img src="assets/img/candidatos.png" alt="Candidatos">
    Subir Perfiles Candidatos</button>
  <button class="boton" routerLink="/gemini">
    <img src="assets/img/ranking.png" alt="Ranking">
    Ranking Candidatos</button>
</div>
</body>

