<body>
<app-sidebar></app-sidebar>
<div class="contenedor">
  <app-header></app-header>
  <div class="contenedor-general">
    <div class="contenedor-evaluacion">
      <div class="convocatoria">
        <button (click)="abrirModalConvocatoria()" class="button-compare">Crear Convocatoria</button>
      </div>
      <!-- Modal para Crear Convocatoria -->
      <div *ngIf="mostrarModalConvocatoria" class="modal-overlay">
        <div class="modal-content">
          <h3>Crear Convocatoria</h3>
          <div class="campos">
            <div>
              <label class="label-modal">Nombre de la Convocatoria:</label>
              <input type="text" [(ngModel)]="nuevaConvocatoria.nombre" required>
            </div>
            <div>
              <label class="label-modal">Fecha de Inicio:</label>
              <input type="date" [(ngModel)]="nuevaConvocatoria.fechaInicio" required>
            </div>
            <div>
              <label class="label-modal">Fecha de Fin:</label>
              <input type="date" [(ngModel)]="nuevaConvocatoria.fechaFin" required>
            </div>
            <div class="modal-button">
              <button (click)="guardarConvocatoria()" class="button-compare">Guardar</button>
              <button (click)="cerrarModalConvocatoria()" class="button-compare">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="opciones">
        <div class="filter-group">
          <button class="filter-btn active">Convocatoria</button>
          <select [(ngModel)]="selectedConvocatoria" (change)="cargarHistorial()">
            <option value="">Seleccione una Convocatoria</option>
            <option *ngFor="let convocatoria of convocatorias" [value]="convocatoria.nombre">
              {{convocatoria.nombre}}
            </option>
          </select>
        </div>
        <div class="filter-group">
          <div>
            <button class="filter-btn active">Cargo</button>
            <select id="cargo-select" [(ngModel)]="selectedCargo" (change)="cargarHistorial()">
              <option value="">Seleccione un Cargo</option>
              <option *ngFor="let cargo of cargos" [value]="cargo">{{cargo}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="historial-container">
      <table class="historial-table">
        <thead>
        <tr>
          <th>Postulante</th>
          <th>Puntaje</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let entry of historialFiltrado">
          <tr *ngFor="let postulante of entry.postulantes">
            <td>{{ postulante.nombre_completo }}</td>
            <td>{{ postulante.puntaje }}</td>
            <td class="ver-mas">
              <button class="btn-see-more" (click)="verDetalles(postulante)">Ver Detalles</button>
            </td>
          </tr>
        </ng-container>
        </tbody>

      </table>

      <p *ngIf="historialPostulaciones.length === 0" class="no-data">
        No hay evaluaciones guardadas aún.
      </p>
    </div>

    <!-- Popup Modal -->
    <div *ngIf="selectedPostulante" class="modal-overlay">
      <div class="modal-content">
        <h3>Detalles de Evaluación</h3>
        <div class="text">
          <div class="campo-normal">
            <label class="label-modal">Nombre:</label>
            <p>{{ selectedPostulante.nombre_completo }}</p>
          </div>
          <div class="campo-normal">
            <label class="label-modal">Cargo Postulado:</label>
            <p> {{ selectedCargo }}</p>
          </div>
          <div class="campo-normal">
            <label class="label-modal">Puntaje:</label>
            <p> {{ selectedPostulante.puntaje }}</p>
          </div>
          <div class="razones">
            <label class="label-modal">Razones (Aspectos Positivos):</label>
            <ul>
              <li *ngFor="let razon of selectedPostulante.razones.aspectosPositivos">
                {{ razon }}
              </li>
            </ul>
          </div>
          <div class="razones">
            <label class="label-modal">Razones (Aspectos Negativos):</label>
            <ul>
              <li *ngFor="let razon of selectedPostulante.razones.aspectosNegativos">
                {{ razon }}
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-button">
          <button class="button-compare" (click)="cerrarPopup()">Cerrar</button>
        </div>
      </div>
    </div>


  </div>

</div>
</body>
