<app-header></app-header>
<body>
<app-sidebar></app-sidebar>
<div class="main-container">

  <div class="filter-section">
    <div class="filter-group">
      <button class="filter-btn active">Cargo</button>
      <select [(ngModel)]="selectedCargo" (change)="filtrarPostulantes()">
        <option value="">Seleccione un Cargo</option>
        <option *ngFor="let cargo of cargos">{{ cargo.CARGO }}</option>
      </select>
    </div>
    <div class="filter-group">
      <button class="button-compare" (click)="evaluarPostulantes()">Evaluar Postulantes</button>
    </div>
  </div>

  <div class="search-box">
    <input type="text" placeholder="Buscar" />
    <button>
      <img src="assets/img/buscar.svg" alt="Logo buscar">
    </button>
  </div>

  <div class="candidates-section">
    <h2>Lista de Candidatos</h2>
    <table class="candidates-table">
      <thead>
      <tr>
        <th>CANDIDATO</th>
        <th>EXPERIENCIA</th>
        <th>EDUCACIÓN</th>
        <th>HABILIDADES</th>
        <th>TOTAL</th>
        <th>      </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let postulante of postulantesFiltrados">
        <td>{{ postulante.NOMBRES_Y_APELLIDOS }}</td>
        <td>{{ postulante.CARGO_POSTULA }}</td>
        <td>{{ postulante.INFORMACION_ACADEMICA.TITULO}}</td>
        <td>{{ postulante.CONOCIMIENTOS }}</td>
        <td>80%</td>
        <td><button class="btn-see-more">Ver más</button></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</body>
