<app-header></app-header>
<body>
<app-sidebar></app-sidebar>
<div class="todo">
<div class="filtrar-Cargo">
  <h2>Filtrar por Cargo</h2>
  <select [(ngModel)]="selectedCargo" (change)="filtrarPostulantes()">
    <option value="">Seleccione un Cargo</option>
    <option *ngFor="let cargo of cargos">{{ cargo.CARGO }}</option>
  </select>
  <button class="button-compare" (click)="evaluarPostulantes()">Evaluar Postulantes</button>
</div>
  <div class="postulantes">
    <div class="titulo">
      <h2>Postulantes</h2>
    </div>
    <div class="tabla">
      <table border="1">
        <thead>
        <tr>
          <th>Nombre y Apellidos</th>
          <th>Cargo Postula</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let postulante of postulantesFiltrados">
          <td>{{ postulante.NOMBRES_Y_APELLIDOS }}</td>
          <td>{{ postulante.CARGO_POSTULA }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<div class="postulantes-ordenados">
  <div *ngIf="postulantesOrdenados.length > 0">
    <div class="titulo">
      <h2>Postulantes Ordenados</h2>
    </div>
    <div class="tabla">
      <table border="1">
        <thead>
        <tr>
          <th>Nombre y Apellidos</th>
          <th>Puntaje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let postulante of postulantesOrdenados">
          <td>{{ postulante.NOMBRES_Y_APELLIDOS }}</td>
          <td>{{ postulante.puntaje }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
</body>

