.sidebar {
  background-color: #f5f6f7;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.1);

}

.logo{
  height: 100px;
  margin-bottom: 20px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.menu-item span {
  font-size: 16px;
  margin: 0;
  color: #000000;
}

.menu-item img{
  height: 30px;
}
.menu-item:hover {
  background-color: #33567733;
  color: #ffffff;
}

.bottom-menu {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.bottom-menu .menu-item {
  display: flex;
  align-items: center;
  color: #666;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 15px;
}
