<aside class="sidebar">
  <nav class="menu">
    <img class="logo" src="assets/img/logo.png" alt="Logo">
    <ul>
      <li class="menu-item">
        <a class="menu-link" routerLink="/home">
          <img src="assets/img/General.svg" alt="Logo general">
          <span class="text">General</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/historial" class="menu-link">
          <img src="assets/img/historial.png" alt="Logo candidatos">
          <span class="text">Convocatorias</span>
        </a>
    </ul>
  </nav>
  <div class="menu bottom-menu">
    <ul>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/settings.svg">
          <span class="text">Configuración</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/Cerrar.svg">
          <span class="text">Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

