<aside class="sidebar">
  <nav class="menu">
    <ul>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/General.svg" alt="Logo general">
          <span class="text">General</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/users.svg" alt="Logo candidatos">
          <span class="text">Candidatos</span>
        </a>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/subir.svg">
          <span class="text">Subir PDF</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/ranking.svg" alt="Logo ranking">
          <span class="text">Reportes</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="menu bottom-menu">
    <ul>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/settings.svg">
          <span class="text">Configuración</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link">
          <img src="assets/img/Cerrar.svg">
          <span class="text">Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</aside>

